<header class="page-header">
	<h1>{% include 'multilang' with collection.title  %}</h1>
</header>
<div class="row">

  <div class="page-sidebar {% if settings.display_sidebar_cat_page %}col-md-3{% endif %}">
    <div class="content_sidebar">
      {% if settings.display_sidebar_cat_page %}
      <div class="sidebar-mb">
        <a href="javascript:void(0)">{% include 'multilang' with settings.title_sidebar_mb %}<i class="fa fa-chevron-down"></i></a>
      </div>
      {% endif %}

      {% section 'sidebar' %}
    </div>
  </div>
  
  <div class="block-row col-main {% if settings.display_sidebar_cat_page %}col-md-9 {% else %}col-md-12{% endif %}" style="{% if settings.display_sidebar_cat_page == false %}max-width: 100%; flex: 0 0 100%;{% endif %}">
    {% section 'collection-header' %}
    {% section 'collection-template' %} 
  </div>
</div>




